{% extends 'website/base.html' %}
{% load static %}
{% block title %}
    About Us
{% endblock title %}
{% block header %}
    {% include 'website/partials/navbar.html' %}
{% endblock header %}
{% block content %}
    <div class="container my-5">
        <!-- History and Evolution -->
        <!-- Administration -->
        <!-- Vision and Mission -->
        {% include 'website/partials/vision-and-mission.html' %}
        <!-- Prospectus -->
        {% include 'website/partials/prospectus.html' %}
        <!-- Contact Us -->
        {% include 'website/partials/contact-us.html' %}
    </div>
{% endblock content %}
