{% extends 'website/base.html' %}
{% load static %}
{% block title %}
Admission Page
{% endblock title %}

{% block header %}
{% include 'website/partials/navbar.html' %}
{% endblock header %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/custom/admission.css' %}">
<div class="sc-hero">
    Admission
</div>
<div class="sc-container">
    <div class="sc-box">
        <div class="sc-logoS">
            <img src="{% static 'imgs/megaphone.svg' %}" alt="logo">
        </div>
        <div class="sc-noticeBar">
            <marquee class="sc-noticeText" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Officiis, est.</marquee>
        </div>
    </div>
    <div class="sc-conditions">
        <div class="sc-title"><u> <strong>Criteria for Admission :</strong></u></div>
        <br>
        <div class="sc-terms" >
        <ol>
            <h3>For Class Playgroup</h3>
            <li class="sc-criteria">Submission of  Registration form</li>
            <br>

            <li class="sc-criteria">Testimonials required:
                <ul> <li class="sc-criteria">Copy of Birth certificate </li>
                    <li class="sc-criteria">Copy of Residence proof</li>
                    <li class="sc-criteria">Copy of Medical Fitness certificate</li>
                    <li class="sc-criteria"> Three Passphoto of Child</li>
                </ul>
            </li>
            <br>
            <li class="sc-criteria">Interaction of child and parents with principal and chairperson on the assigned date.</li>
            <br>
            <li class="sc-criteria">Parents are informed about the status of admission.</li>
            <br>
            <li class="sc-criteria">After admission is granted, fees to be deposited within allotted time.</li>
         
        </ol>
        <ol>
            <h3>For class I-V</h3>
            <li class="sc-criteria"> Submission of Registration form</li>
            <li class="sc criteria">Child has to appear for an Informal Dkill_Knowledge index round</li>
            <li class="sc-criteria"> Parents to be informed about the status of admission within 2 days.</li>
            <li class="sc-criteria"> Interaction date with Pincipal or Principal maam(date to be given to parents on phone)</li>
            <li class="sc-criteria"> After admission is granted , fees to be deposited within allotted time</li>
            <li class="sc-criteria"> Testimonials required:
                <ul>
                    <li class="sc-criteria"> Copy of birth certificate</li>
                    <li class="sc-criteria">Copy of Medical Fitness certificate</li>
                    <li class="sc-criteria">Three passphoto of child</li>
                    <li class="sc-criteria"> Transfer certificate in original </li>
                </ul>
            </li>
        </ol>
        </div>
    </div>
    
</div>
</div>





{% endblock content %}

{% block footer %}
{% include "website/partials/footer.html" %} 
{% endblock footer %} 

