{% extends 'website/base.html' %}
{% load static %}
{% block title %}
Fee Structure Page
{% endblock title %}

{% block header %}
{% include 'website/partials/navbar.html' %}
{% endblock header %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/custom/fee-structure.css' %}">
  <div class="sc-hero">
    Fee-Structure
  </div>
    <div class="sc-tables">
         <div class="sc-heading" align="center">
            <strong><u>Fee structure for Regular students -2023 </u></strong> 
         </div>
        <div class="sc-tableTitle">
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> NURSARY </U></P>
              <table class="sc-table">
                 <tr>
                    <th colspan="3">Tuition Fees(@ Rs.380 p/m)</th>
                    <th colspan="3">Development Fees</th>
                    <th colspan="3">Fee Book & Diary</th>
                    <th colspan="3">Games & Sport</th>
                    <th colspan="3">Anual Fee</th>
                    <th colspan="3">Total</th>
                 </tr>
                 <tr align="center">
                    <td colspan="3">760</td>
                    <td colspan="3">1000</td>
                    <td colspan="3">300</td>
                    <td colspan="3">100</td>
                    <td colspan="3">700</td>
                    <td colspan="3">2860</td>
                 </tr>
              </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> LKG </U></P>
              <table class="sc-table">
                 <tr>
                    <th colspan="3">Tuition Fees(@ Rs.380 p/m)</th>
                    <th colspan="3">Development Fees</th>
                    <th colspan="3">Fee Book & Diary</th>
                    <th colspan="3">Games & Sport</th>
                    <th colspan="3">Anual Fee</th>
                    <th colspan="3">Total</th>
                 </tr>
                 <tr align="center">
                    <td colspan="3">760</td>
                    <td colspan="3">1000</td>
                    <td colspan="3">300</td>
                    <td colspan="3">100</td>
                    <td colspan="3">700</td>
                    <td colspan="3">2860</td>
                 </tr>
              </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> UKG </U></P>
              <table class="sc-table">
                 <tr>
                    <th colspan="3">Tuition Fees(@ Rs.380 p/m)</th>
                    <th colspan="3">Development Fees</th>
                    <th colspan="3">Fee Book & Diary</th>
                    <th colspan="3">Games & Sport</th>
                    <th colspan="3">Anual Fee</th>
                    <th colspan="3">Total</th>
                 </tr>
                 <tr align="center">
                    <td colspan="3">760</td>
                    <td colspan="3">1000</td>
                    <td colspan="3">300</td>
                    <td colspan="3">100</td>
                    <td colspan="3">700</td>
                    <td colspan="3">2860</td>
                 </tr>
              </table>
              <!-- /for Nursary LKG and UKG -->
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 1 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.480 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">960</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3060</td>
                </tr>
             </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 2 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.480 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">960</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3060</td>
                </tr>
             </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 3 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.480 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">960</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3060</td>
                </tr>
             </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 4 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.500 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">1000</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3100</td>
                </tr>
             </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 5 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.500 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">1000</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3100</td>
                </tr>
             </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 6 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.500 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">1000</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3100</td>
                </tr>
             </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 7 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.580 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">1160</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3260</td>
                </tr>
             </table>
              <P style="margin-left: 20px;font-weight: 700; margin-bottom:0px;"> <U> CLASS 8 </U></P>
              <table class="sc-table">
                <tr>
                   <th colspan="3">Tuition Fees(@ Rs.580 p/m)</th>
                   <th colspan="3">Development Fees</th>
                   <th colspan="3">Fee Book & Diary</th>
                   <th colspan="3">Games & Sport</th>
                   <th colspan="3">Computer Fee</th>
                   <th colspan="3">Anual Fee</th>
                   <th colspan="3">Total</th>
                </tr>
                <tr align="center">
                   <td colspan="3">1160</td>
                   <td colspan="3">1000</td>
                   <td colspan="3">300</td>
                   <td colspan="3">100</td>
                   <td colspan="3">0</td>
                   <td colspan="3">700</td>
                   <td colspan="3">3260</td>
                </tr>
             </table>

             <P style="margin:40px;font-weight: 700; margin-bottom:0px;"> <U> FOR NEW ADDMISSION IN ANY CLASS for the session 2023-2024 </U></P>
             <br>
             <p style="margin-left: 40px;margin-top:-20px;"> All of the above fees and chargesplus new admission charges
            </p> 
               <ol>
                <li class="sc-fees">Admission Fees : Rs.1000/-</li>
                <li class="sc-fees">security Deposit : Rs.1000/-</li>
               </ol>
             <P style="margin:40px;font-weight: 700; margin-bottom:0px;"> <U> School will provide the Following Items </U></P>
             <br>
 
               <ol>
                <li class="sc-fees">Red Sweater : Rs.600/-</li>
                <li class="sc-fees">Black socks : Rs.100/-</li>
                <li class="sc-fees">Red with Black strip Tie : Rs.100/-</li>
                <li class="sc-fees">Sports Uniform(Track Suit) : Rs.1500/-</li>
               </ol>
        </div>
      


    </div>
{% endblock content %}

{% block footer %}
   {% include "website/partials/footer.html" %} 
{% endblock footer %} 