{% extends 'website/base.html' %}
{% load static %}
{% block title %}
    Gallery
{% endblock title %}
{% block header %}
    {% include 'website/partials/navbar.html' %}
{% endblock header %}
{% block content %}
    <div class="container">
        <h1 class="my-3">Gallery</h1>
        <div class="row my-4">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'imgs/gallery/teachers-day.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'website:gallery_teachers_day' %}" class="link">Teachers Day</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'imgs/gallery/childrens-day.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'website:gallery_childrens_day' %}" class="link">Childrens Day</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'imgs/gallery/school-activities.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'website:gallery_school_activities' %}" class="link">School Activities</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'imgs/gallery/sports-day.jpeg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'website:gallery_sports_day' %}" class="link">Sports Day</a></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include 'website/partials/footer.html' %}
{% endblock content %}
        {% comment %} <div class="row my-4">
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/1.jpg' %}"
                     alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/2.JPG' %}"
                     alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/3.JPG' %}"
                     alt="">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/4.JPG' %}"
                     alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/5.JPG' %}"
                     alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/13.JPG' %}"
                     alt="">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/7.JPG' %}"
                     alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/8.JPG' %}"
                     alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid rounded"
                     src="{% static 'imgs/gallery/9.JPG' %}"
                     alt="">
            </div>
        </div> {% endcomment %}

