{% extends 'website/base.html' %}
{% block title %}
    Shalom English School
{% endblock title %}
{% block header %}
    {% include 'website/partials/navbar.html' %}
{% endblock header %}
{% block content %}
    <!-- Carousel Section for images -->
    <div style="padding: -20px;">
    {% include 'website/partials/carousel.html' %}
</div>
      <!-- Tagline Welcome and read more -->
    <div class="section container" >{% include 'website/partials/tagline.html' %}</div>
    <!-- Principle Say -->
    <div class="section container sh-margin" style="margin-top: 200px;">{% include 'website/partials/principle-say.html' %}</div>
    <!-- Events list -->
    <!-- Blog Section -->
    <!-- Segway to Gallery -->
    <!--Footer-->
    <div style="margin-top: 200px;">
    {% include 'website/partials/footer.html' %}
    </div>
{% endblock content %}
