{% extends 'website/base.html' %}
{% block title %}
    Shalom English School
{% endblock title %}
{% block header %}
    {% include 'website/partials/navbar.html' %}
{% endblock header %}
{% block content %}
    <!-- Carousel Section for images -->
    {% include 'website/partials/carousel.html' %}
    <!-- Tagline Welcome and read more -->
    <div class="section container">{% include 'website/partials/tagline.html' %}</div>
    <!-- Principle Say -->
    <div class="section container">{% include 'website/partials/principle-say.html' %}</div>
    <!-- Events list -->
    <!-- Blog Section -->
    <!-- Segway to Gallery -->
{% endblock content %}
