{% extends 'website/base.html' %}
{% load static %}
{% block title %}
    Rules and Regulations
{% endblock title %}
{% block header %}
    {% include 'website/partials/navbar.html' %}
{% endblock header %}
{% block content %}
    <div class="container my-5">
        <h1>Rules and Regulations</h1>
        <p class="text-justify p-2">
            This list of 'Rules & Regulation'has been made for the overall betterment and steady progress in maintaining the standard of the school and the students as well. <br>
            <br>
            Hence, all the concerned parents and guardians are kindly requested to go through it thoroughy and support the school by following the same honesty.
        </p>
        <h3>1.Time & Regularity</h3>
        <p class="text-justify p-2"> 
            a.All the students from class LKG and above are required  to enter the school premises from 8:40am till 8:55 am.<br>        
        <br>
            b.Arrival time for the students of play group and Nursery is 8:50 am and departure time is 11:20 am. Timing prescribed by the school must be followed by all the students and guardians.<br>
        <br>
            c.In case of absence of any students the concerned guardians must fill up the Regularity Record page in the school diary mentioning yhe reason for absence with the signature.
        </p>
        <h3> 2.Dress codes of the school:</h3>
        <p class="text-justify p-2">
            School Uniform are required for the class Nursery and above.<br>
        <br>

           <b> winter Season(February-March, October-December)</b> <br>
        <br>        
            a.<b>For Boys -</b> Grey half pant (short) and grey checked full sleeved shirt, red pullover with school crest and grey stockings.<br>
        <br>
            b.<b>For Girls -</b> Grey box pleated tunic and grey checked full sleeved shirt, red pullover with school crest and grey stockings.<br>
        <br>
            c.Black leather shoes, knee-length grey woolen shocks are compulsory for both boys and girls.<br>
        <br>
            d.Girls having lonf hair must tie it on two sides with red ribbon and short hair must be properly combed and clipped with red ribbon.<br>
        </p>
        <p class="text-justify p-2">
        <b>Summer Season(April-September)</b><br>
        <br>
            a.<b>For Boys - </b>Sky blue half pant (shorts) and blue & red checked half sleeves T-shirt.<br>
        <br>
            b.<b>For Girls -</b>Sky blue & red checked box pleated tunic with half sleeve in it.<br>
        <br>
            c.Blacks leather shoes, knee-length navy blue shocks are compulsory for boys and girls. <br>
              Girls have to use sky-blue ribbon for their hair with summer dress code and white ribbon for special occasions.<br>
              <br>
             <b>Note:</b>Shoes of both boys and girls must be very comfortable i.e, with buckles rather than laces.             
        </p>
        <h3>3.Health & Hygiene:</h3>
        <p class="text-justify p-2">
            Since the school is conscious of health & Hygiene, we would like to request all the parents and guardians to co-operate with the school to maintain the same which is advantaggeous to our children to a great extend.<br>
            i.Students (Nusery & above) must come in neat and clean proper uniform and Play-Group children in casual dress which must be comfortable, well washed and should not be stinky. Student's shocks are to be regularly washed to avoid if from getting stinky.<br>
            <br>
            ii.Children of classes LKG and above require to bring their aprons(to be purchased from school), and hand towles on the first day of the school. Aprons will be sent home every Friday which must be returned to the school well washed on the first day of every week.<br>
            <br>
            iii.Nails of the students must be trimmed short and clean and should not be polished to fashion them.<br>
            <br>
            iv.Each child must not fail to bring a clean handkerchief with name written on it properly while coming to school.<br>
            <br>
            v.Guardian/Parents of Play-Group children are required to send at least one extra panty and trousers packed in an extra polythene bag for emergency.
        </p>
        <h3>4.Language and Moral Conduct:</h3>
        <p class="text-justify p-2">
            i.All the students must speak in English compulsory in class and school premises as the medium of communication, Although, it is exceptional to the children of Nusery and Play-Group the school will encourage and motivate them to speak in english to the farthest possible.<br>
            <br>
            ii.Since the school is particular about moral conduct and discipline, we encourage the children to speak soft and good language and will not allow anyone to speak filthy words. Hence,parents and guardians are requested to be careful about the language conversed at home.
        </p>

        <h3>5.Continuous Assessments & Exams:</h3>
        <p class="text-justify p-2">
                There will be <b>'Distribution of Continious Assessment'</b> of the children (Nusery to UKG) in three terms which gives the detailed report about the students overall performance and academic progress. Evaluation test is conducted eventually subject wisely/topic-wisely without causing mental stress and tension and of extracurricular activity as well. Final evaluation test will be conducted to evaluate the child's actual capability and eligibility for the promotion on merit basis.<br>
                 There will be two periodical (unit) test each of 20 full marks and written exam of full marks of 50 followed by viva tests for class-1 and above in each term. Each academic session is didvided into three terms.
        </p>
        <h3>6.Guardian's Responsibilities:</h3>
        <p class="text-justify p-2">
            Students are not allowed to comed with valuables like money etc., and other materials e.g.,stationary items like pencil, erasers, crayons and story books etc. from home except the text books and exercise books sent from the School for homework. In case of loss of the same, school will not take any risk.<br>
            Text books and note books (exercise book) sent from the school for homework must be kept in good care and conditions. In case of irreparable damage or loss, a replacement of new one is to be made by the concerned parents/guardian.<br>
            Guardians are requested to give a regular and proper guidance to the child while doing home-work(both reading & writing) and for extra practice.
        </p>
        <h3>7.Meeting & Programmes:</h3>
        <p class="text-justify p-2">
             Each an every notice sent by the school must be read carefully by the concerned guardians and follow the same honestly. Parents & guardians are requested to attend every meetings and schools function organised by the school compulsorily and punctually.
        </p>
        <h3>8.Re-Registration policy:</h3>
        <p class="text-justify p-2">
            Parents/Guardians who are interested and confirmed to let the child/ward continue the studies in the following session in this school must pay the fee suggested by the school through the notice. 
        </p>
        <h3> 9.Withdrawal policy:</h3>
        <p class="text-justify p-2">
            Parents who wish to 9.Withdraw the child and take the Transfer Certificate(TC) must inform the school in written latest till the 2nd week of November and pay Rs. 500/- for the same as withdrawal fee. This withdrawal fee can also be adjusted with the amount of security deposit paid at the time of the childs admission.
        </p>
        <h3>10.Holidays:</h3>
        School will entertain the government holidays only for main festivals and important occasions with a view to complete the prescribed syllabus of the year on time without stress.

    <h3>11.Other Important Information:</h3>
    <p class="text-justify p-2">
        Monthly fee of each students must be paid on or before the last due date(10th of every current month).
    </p>
    <h3>12.Co-operation & Mutual Understanding:</h3>
    <p class="text-justify p-2">
         In spite of school's all care and concern to each and every student, if any problem or accidents that might occur sometimes by chance, guardians are highly requested to be co-operative with the school to bring the solution.<br>
          The school management reservers the right to revise and amend the rules and regulations as per the need in future.
    </p>
</div>

    {% include 'website/partials/footer.html' %}
{% endblock content %}
