[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djlint = "*"
django-pytest = "*"
reportlab = "*"
xhtml2pdf = "*"
django-widget-tweaks = "*"

[dev-packages]
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.10"
