body {
    background-color: #ffffff9d;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;
    height: 30vh;
    padding: 50px 0px;
}

/* .sh-bg-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Hibbing_High_School_2014.jpg/1200px-Hibbing_High_School_2014.jpg');
    background-size: cover;
    width:1200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: blur(0.1px);
    object-fit: fit;

} */

.sh-tg-color {
    font-size: 64px;
    font-weight: 900;
    color: #86b386;
}

.typing-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sentence {
    font-size: 2rem;
    font-family: 'Darker Grotesque 400';
    font-weight: 500;
}

#feature-text {
    font-size: 2rem;
    font-family: 'Darker Grotesque 400';
    font-weight: 500;
}

.input-cursor {
    display: inline-block;
    height: 90px;
    background-color: white;
    margin-left: 5px;
    font-size: 54px;
    font-family: 'Darker Grotesque';

    animation: blink .6s linear infinite alternate;
}



@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


#principle-tagline {
    display: block;
}

.image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.sh-principle-image {
    border-radius: 20px;
}

.sh-section {
    width: 100%;
    height: 42vh;
    /* border: 2px solid black; */
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #eae7e7;
    margin-left: -100px;
}

.sh-margin {
    height: 50vh;
}