body {
    background-color: #ffffff9d;
}


.sh-tg-color {
    font-size: 5rem;
    font-weight: 900;
    color: #86b386;
}



.typing-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sentence {
    font-size: 2rem;
    font-family: 'Darker Grotesque 400';
    font-weight: 500;
}

#feature-text {
    font-size: 2rem;
    font-family: 'Darker Grotesque 400';
    font-weight: 500;
}

.input-cursor {
    display: inline-block;
    height: 90px;
    background-color: white;
    margin-left: 5px;
    font-size: 54px;
    font-family: 'Darker Grotesque';

    animation: blink .6s linear infinite alternate;
}



@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}




@media (max-width: 1200px){
    .sh-tg-color {
        font-size: 3rem;
    }
}

@media (max-width: 500px){
    .sh-tg-color {
        font-size: 2rem;
    }
    #sentence {
        font-size: 1.2rem;
    }
    
    #feature-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 310px){
    .sh-tg-color {
        font-size: 1.5rem;
    }
    #sentence {
        font-size: 1rem;
    }
    
    #feature-text {
        font-size: 1rem;
    }
}

.principle-image {
    border-radius: 20px;
    width: 30rem;
}
.principal-container{
    position: relative;
    z-index: 0;
}
.principal-section-heading{
    font-size: 2em;
    font-weight: bolder;
}
.text-container{
    position: relative;
    padding: 10px;
    margin-left: 20rem;
    margin-top: -10rem;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 20px;
    z-index: 2;
}

@media (max-width: 1000px){

    .text-container{
        margin-left: 10rem;
        margin-top: -10rem;
        z-index: 2;
    }
}
@media (max-width:774px){
    .principal-container{
       text-align: center;
    }
    .principle-image {
        width: 20rem;
    }
    .principle-image {
        border-radius: 20px;
        align-items: center;
        margin-bottom: 2rem;
    }
    .text-container{
        width: 100%;
        position: relative;
        margin: 0;
        background-color: #fff;
        border: 2px solid black;
        border-radius: 20px;
        z-index: 2;
    }
}
