body {
    background-color: #ffffff9d;
}

.section {

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    /* height: 30rem; */
    /* padding: 50px 0px; */

    /* align-items: center; */
}


.sh-tg-color {
    font-size: 5rem;
    font-weight: 900;
    color: #86b386;
}



.typing-tagline {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sentence {
    font-size: 2rem;
    font-family: 'Darker Grotesque 400';
    font-weight: 500;
}

#feature-text {
    font-size: 2rem;
    font-family: 'Darker Grotesque 400';
    font-weight: 500;
}

.input-cursor {
    display: inline-block;
    height: 90px;
    background-color: white;
    margin-left: 5px;
    font-size: 54px;
    font-family: 'Darker Grotesque';

    animation: blink .6s linear infinite alternate;
}



@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


#principle-tagline {
    display: block;
}

.image-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0px 200px;
}

.sh-principle-image {
    border-radius: 20px;
}

.sh-section {
    width: 100%;
    height: 42vh;
    /* border: 2px solid black; */
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #eae7e7;
    margin-left: -300px;
}

.sh-margin {
    height: 50vh;
}

@media (max-width: 1200px){
    .sh-tg-color {
        font-size: 3rem;
    }
}

@media (max-width: 500px){
    .sh-tg-color {
        font-size: 2rem;
    }
    #sentence {
        font-size: 1.2rem;
    }
    
    #feature-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 310px){
    .sh-tg-color {
        font-size: 1.5rem;
    }
    #sentence {
        font-size: 1rem;
    }
    
    #feature-text {
        font-size: 1rem;
    }
}
