{% load static %}
<link rel="stylesheet" href="{% static 'css/custom/footer.css' %}">
<div class="sc-footer">
    <div class="sc-cnt">
        Get in Touch
        <br>
        <br>
        <strong>Shalom English School</strong>
        <br>
        Darjeeling West Bengal
        <br>
        <br>
        +91123456789/654789321
        <br>
        <br>
        Email.of.school@gmail.com
    </div>
    <div class="sc-cnt">
        <ul>
            <a href="#" class="link">
                <li>Home</li>
            </a>
            <a href="#" class="link">
                <li>History</li>
            </a>
            <a href="#" class="link">
                <li>Rules & Regualtions</li>
            </a>
            <a href="#" class="link">
                <li>Administration</li>
            </a>
        </ul>
    </div>
    <div class="sc-cnt">
        <ul class="footer-items">
            <a href="#"class="link">
                <li>Admission</li>
            </a>
            <a href="#"class="link">
                <li>About us</li>
            </a>
            <a href="#"class="link">
                <li>Fee Structure</li>
            </a>
            <a href="#"class="link">
                <li>Academic Calender</li>
            </a>
        </ul>
    </div>
    <div class="sc-cnt">
        Find us:
        <br>
        <iframe class="sc-map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3552.3051144412107!2d88.10045207451685!3d27.08367377654566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e5d530cd862f19%3A0xcb84d3a2f62e6aa1!2sSHALOM%20ENGLISH%20SCHOOL!5e0!3m2!1sen!2sin!4v1682318203633!5m2!1sen!2sin"
                width="400"
                height="300"
                style="border:0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="sc-footerBar">All right Reserved © Shalom English School</div>
