{% load static %}
<style>
    .sh-logo {
        width: 200px;
        height: auto;
    }
    .sh-fn-1 {
        font-size: 1.3rem;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style=" box-shadow: 0 0 5px #000;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'website:homepage' %}">
          <img src="{% static 'imgs/shalom-logo.png' %}" class="sh-logo">
      </a>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link sh-fn-1" href="{% url 'website:homepage' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sh-fn-1" href="{% url 'website:about_us' %}">About Us</a>
            </li>
          <li class="nav-item">
            <a class="nav-link sh-fn-1" href="{% url 'website:admission' %}">Admission</a>
          </li>
          <li class="nav-item">
              <a class="nav-link sh-fn-1" href="{% url 'website:fee_structure' %}">Annual Planner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sh-fn-1" href="{% url 'website:gallery' %}">Gallery</a>
            </li>

        </ul>
      </div>
  </nav>
