{% load static %}
<div class="image-block">
    <img class="sh-principle-image"
         src="{% static 'imgs/gallery/principle-demo.JPG' %}"
         alt="">
</div>
<div class="sh-section">
    <div id="sh-principle-tagline">
        <span>
            <h1>Meet our Principle</h1>
        </span>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat neque quod atque. Pariatur eveniet fugit nostrum dolore repudiandae. Aliquid molestias iusto perferendis ipsam recusandae consectetur quia! Labore eos deserunt ex nisi eum suscipit sint.
</div>
