<div class="my-5">
    <h1>Rules and Regulations</h1>
    <p class="text-justify p-2">
        This list of 'Rules & Regulation'has been made for the overall betterment and steady progress in maintaining the standard of the school and the students as well.

    </p>
    <p class="text-justify p-2">
        Hence, all the concerned parents and guardians are kindly requested to go through it thoroughy and support the school by following the same honesty.
    </p>
    
    <a href="{% url 'website:rules_and_regulations' %}" class="btn btn-primary px-2 py-1 rounded">Read More</a>

</div>
