{% load static %}
{% include 'website/base_partials/bootstrap-include.html' %}
<link rel="stylesheet" href="{% static 'css/custom/homepage.css' %}">
<script src="{% static 'js/custom/typing-animation.js' %}"></script>
<div class="sh-bg-image my-5"></div>
<div class="sh-tg-content mx-5">
    <div class="container">
        <h1 class="sh-tg-color">Welcome to Shalom School</h1>
    </div>
    <div class="typing-tagline">
        <span id="sentence"></span>&nbsp;<span id="feature-text"></span>
        <span class="input-cursor">|</span>
    </div>
</div>
