<div class="my-5">
    <h1>Our Vision and Mission</h1>
    <p class="text-justify p-2">
        Shalom English School is an English medium co-education school based on Christian faith which was started in year 2010 in the grace of Almighty God with a vision to provide the holistic education to meet the inevitable demand of this competitive century.
          Although the school is recognized as a Christian School it opens its door for all the children irrespective of Religion, Caste, or Community.
    </p>
<p class="text-justify p-2">
        The School bears the Motto:
</p>
     <h3>Honesty, Excellence, and Peace</h3>
     <p class="text-justify p-2">
        The school will be striving continuously towards making its vision and mission true by equipping each child with the advanced method teaching and technology.
        Hence, some of the features of the school to make its vision and mission come true are:
</p>
    <a href="{% url 'website:vision_and_mission' %}" class="btn btn-primary px-2 py-1 rounded">Read More</a>
</div>
